<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlm.fmp.mapper.FamilyCouncilMapper">
  <resultMap id="BaseResultMap" type="com.dlm.fmp.pojo.FamilyCouncil">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="family_id" jdbcType="INTEGER" property="familyId" />
    <result column="generation_num" jdbcType="INTEGER" property="generationNum" />
    <result column="generation_word" jdbcType="VARCHAR" property="generationWord" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="identity_card" jdbcType="VARCHAR" property="identityCard" />
    <result column="discounts" jdbcType="VARCHAR" property="discounts" />
    <result column="duty" jdbcType="VARCHAR" property="duty" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="retired" jdbcType="INTEGER" property="retired" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, family_id, generation_num, generation_word, member_name, phone, identity_card, 
    discounts, duty, period, retired, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.dlm.fmp.pojo.FamilyCouncilExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from family_council
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from family_council
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from family_council
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dlm.fmp.pojo.FamilyCouncilExample">
    delete from family_council
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dlm.fmp.pojo.FamilyCouncil">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into family_council (family_id, generation_num, generation_word, 
      member_name, phone, identity_card, 
      discounts, duty, period, 
      retired, create_time, update_time
      )
    values (#{familyId,jdbcType=INTEGER}, #{generationNum,jdbcType=INTEGER}, #{generationWord,jdbcType=VARCHAR}, 
      #{memberName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{identityCard,jdbcType=VARCHAR}, 
      #{discounts,jdbcType=VARCHAR}, #{duty,jdbcType=VARCHAR}, #{period,jdbcType=VARCHAR}, 
      #{retired,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dlm.fmp.pojo.FamilyCouncil">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into family_council
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="familyId != null">
        family_id,
      </if>
      <if test="generationNum != null">
        generation_num,
      </if>
      <if test="generationWord != null">
        generation_word,
      </if>
      <if test="memberName != null">
        member_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="identityCard != null">
        identity_card,
      </if>
      <if test="discounts != null">
        discounts,
      </if>
      <if test="duty != null">
        duty,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="retired != null">
        retired,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="familyId != null">
        #{familyId,jdbcType=INTEGER},
      </if>
      <if test="generationNum != null">
        #{generationNum,jdbcType=INTEGER},
      </if>
      <if test="generationWord != null">
        #{generationWord,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null">
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="discounts != null">
        #{discounts,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        #{duty,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        #{period,jdbcType=VARCHAR},
      </if>
      <if test="retired != null">
        #{retired,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dlm.fmp.pojo.FamilyCouncilExample" resultType="java.lang.Long">
    select count(*) from family_council
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update family_council
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.familyId != null">
        family_id = #{record.familyId,jdbcType=INTEGER},
      </if>
      <if test="record.generationNum != null">
        generation_num = #{record.generationNum,jdbcType=INTEGER},
      </if>
      <if test="record.generationWord != null">
        generation_word = #{record.generationWord,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null">
        member_name = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.identityCard != null">
        identity_card = #{record.identityCard,jdbcType=VARCHAR},
      </if>
      <if test="record.discounts != null">
        discounts = #{record.discounts,jdbcType=VARCHAR},
      </if>
      <if test="record.duty != null">
        duty = #{record.duty,jdbcType=VARCHAR},
      </if>
      <if test="record.period != null">
        period = #{record.period,jdbcType=VARCHAR},
      </if>
      <if test="record.retired != null">
        retired = #{record.retired,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update family_council
    set id = #{record.id,jdbcType=INTEGER},
      family_id = #{record.familyId,jdbcType=INTEGER},
      generation_num = #{record.generationNum,jdbcType=INTEGER},
      generation_word = #{record.generationWord,jdbcType=VARCHAR},
      member_name = #{record.memberName,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      identity_card = #{record.identityCard,jdbcType=VARCHAR},
      discounts = #{record.discounts,jdbcType=VARCHAR},
      duty = #{record.duty,jdbcType=VARCHAR},
      period = #{record.period,jdbcType=VARCHAR},
      retired = #{record.retired,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlm.fmp.pojo.FamilyCouncil">
    update family_council
    <set>
      <if test="familyId != null">
        family_id = #{familyId,jdbcType=INTEGER},
      </if>
      <if test="generationNum != null">
        generation_num = #{generationNum,jdbcType=INTEGER},
      </if>
      <if test="generationWord != null">
        generation_word = #{generationWord,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null">
        identity_card = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="discounts != null">
        discounts = #{discounts,jdbcType=VARCHAR},
      </if>
      <if test="duty != null">
        duty = #{duty,jdbcType=VARCHAR},
      </if>
      <if test="period != null">
        period = #{period,jdbcType=VARCHAR},
      </if>
      <if test="retired != null">
        retired = #{retired,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlm.fmp.pojo.FamilyCouncil">
    update family_council
    set family_id = #{familyId,jdbcType=INTEGER},
      generation_num = #{generationNum,jdbcType=INTEGER},
      generation_word = #{generationWord,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      identity_card = #{identityCard,jdbcType=VARCHAR},
      discounts = #{discounts,jdbcType=VARCHAR},
      duty = #{duty,jdbcType=VARCHAR},
      period = #{period,jdbcType=VARCHAR},
      retired = #{retired,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>